{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}
Leave Application
{% endblock %}

{% block css_block %}
<style>
   .padding {
      margin-top: 100px;
   }
</style>
{% endblock %}

{% block body_block %}

{% include 'navbar.html' %}
<div class="container-fluid">
   <div class="padding">
      <div class="row mb-5">
         <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-success"> Leave Category</h3>
            </h3>
            <form method="post" enctype="multipart/form-data">
               {% csrf_token %} {{form|crispy}}
               <input class="btn btn-dark" type="submit" value="Add Category">
            </form>
         </div>
      </div>
   </div>
</div>

{% include "footer.html" %}

{% endblock %}