{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_block %}
Leave Application
{% endblock %}

{% block block_js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script text="javascript">
   setTimeout(fade_out, 2000);
   function fade_out() {
      $(".messages").fadeOut().empty();
   }
   $(".post-form")[0].reset(); // this is to reset the form 
</script>
{% endblock %}

{% block css_block %}
<style>
   .padding {
      margin-top: 100px;
   }
</style>
{% endblock %}

{% block body_block %}

{% include 'navbar.html' %}

<div class="container-fluid">
   <div class="padding">
      <div class="row mb-5">
         <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-primary"> LEAVE APPLICATION</h3>
            {% if messages %}
            <div class="container h-100 d-flex justify-content-center">
               <ul id="successMessage" class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}
                     style="color:green; font-size: 20px; list-style-type: none;">{{ message }}</li>
                     {% endfor %}
               </ul>
            </div>
            {% endif %}
            <hr>
            <form class="post-form" method="post" enctype="multipart/form-data">
               {% csrf_token %} {{form|crispy}}
               <input class="btn btn-dark" type="submit" value="Send Request">
            </form>
         </div>
      </div>
   </div>
</div>

{% include "footer.html" %}

{% endblock %}